:root {
    --primary-color: #4ee1d2;
    --off-color: #545454;
    --on-color: #e96b5a;
    --content-color: #fff;
    --background-color: #f5f5f5;
    --text-color: #333;
    --button-text-color: #fff;
    --button-bg-color: var(--primary-color);
    --button-hover-bg-color: #1f524d;
    --header-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--header-font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    width: 100%;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

main {
    width: 90%;
    max-width: 1200px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin-bottom: 1em;
}

audio {
    width: 100%;
    margin-bottom: 1em;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1em;
    align-items: center;
    justify-content: flex-start;
    min-height: 50px;
    height: auto;
}

.button-container button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.button-container button:hover {
    background-color: var(--button-hover-bg-color);
}

.timestamp-undo-container {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    gap: 20px; /* ボタン間の間隔を適度に設定 */
    min-height: 50px;
    height: auto;
}

.add-timestamp-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 12px;
    font-size: 1.2em;
    min-height: 50px;
    height: auto;
}

.add-timestamp-button:hover {
    background-color: var(--button-hover-bg-color);
}

.undo-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 10px; /* 上下のマージンを追加 */
    margin-bottom: 10px;
}

.undo-button:hover {
    background-color: var(--button-hover-bg-color);
}

#mainContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-container,
.right-container {
    width: 48%;
    flex-shrink: 0;
}

textarea {
    width: 100%;
    max-width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.save-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 0 3em 0;
    border-radius: 8px;
}

.save-button:hover {
    background-color: var(--button-hover-bg-color);
}

table#captionTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 5px;
    margin-top: 0;
    padding-top: 0;
}

table#captionTable th,
table#captionTable td {
    border: 1px solid #ccc;
    padding: 0.5px;
    text-align: left;
    background-color: var(--content-color);
}

table#captionTable th {
    background-color: var(--content-color);
    color: var(--text-color);
}

#previewWindow {
    border: 1px solid #ccc;
    padding: 1em;
    height: 50px;
    overflow-y: auto;
    margin-bottom: 1em;
    background-color: var(--content-color);
}

#srtText {
    border: 1px solid #ccc;
    padding: 1em;
    height: 300px;
    overflow-y: auto;
    margin-top: 4em;
    resize: none;
    font-size: 0.8em;
    font-family: monospace;
}

.preview-off {
    background-color: var(--off-color);
    color: var(--button-text-color);
    border-radius: 8px;
}

.preview-on {
    background-color: var(--on-color);
    color: var(--button-text-color);
    border-radius: 8px;
}

@media (max-width: 768px) {
    .delete-mp3-button {
        display: none;
    }
}
